body{

    background-image: url("background-removed-Caesar-Cipher.png");
    background-color: #B7C5E1;
    background-repeat: no-repeat;
    background-position: center 4px;
}

#innerCirc {
    /* -webkit-animation: spin 1s linear;  */
    animation: none;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinReverse {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
};
    
    
/*   
  /* for Safari browser  */
  /* @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); 
    } */ */